[Unit]
Description=carls.site
After=network.target

[Service]
PIDFile=/var/run/github_oauth.pid
User=apache
Group=apache
WorkingDirectory=/websites/github_oauth
ExecStart=/websites/github_oauth/venv/bin/gunicorn github_oauth.wsgi:application --workers 4 -b 127.0.0.1:9100 --log-file /websites/github_oauth/gunicorn.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
