{% extends "main.html" %}
{% block callback_active %}active{% endblock %}
{% block title %}Callback{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

	<div>

		{% if pgdata.success %}
			<div class="alert alert-success">
				<strong>Success!</strong> You have generated an OAuth token.
			</div>
			<div class="panel panel-default">
				<table class="table">
					<tr>
						<td>scope</td>
						<td>{{ pgdata.gh_resp.scope }}</td>
					</tr>
					<tr>
						<td>access_token</td>
						<td>
							<mark>{{ pgdata.gh_resp.token }}</mark>
						</td>
					</tr>
				</table>
			</div>
		{% else %}
			<div class="alert alert-danger">
				<strong>Error:</strong> {{ pgdata.error }}
			</div>
		{% endif %}

	</div>

{% endblock %}
