{% extends "main.html" %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

	<div>

	<h4>Generate OAuth Tokens</h4>

	<p>
		<strong>
		<a href="https://github.com/login/oauth/authorize?scope=user:email%20public_repo&client_id={{ pgdata.client_id }}">
			Click Here
		</a>
		</strong>
		to begin.
		<br>
	</p>
	<p>
		<em>Note: This will send you to GitHub to authorize this application.</em>
	</p>

	</div>

{% endblock %}
