{% extends "main.html" %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

	<div>

		<h4>Generate OAuth Token</h4>

		<p>Scopes: user:email,public_repo,repo</p>
		<p>
			<a class="btn btn-success"
			   href="{{ pgdata.github.base_url }}/login/oauth/authorize?scope=user:email,public_repo,repo&client_id={{ pgdata.github.client_id }}">
				Click Here to Begin
			</a>
			<br>
		</p>
		<p>
			<em>Note: This will send you to GitHub to authorize this application.</em>
		</p>

	</div>

{% endblock %}
